<h1>Cloud Computing and Security</h1>

<ul class="bullet-reveal">
  <li class="bullet"><h1>DevOps vs. Security</h1></li>
  <li class="bullet"><h1>AWS Identity and Access Management (IAM)</h1></li>
  <li class="bullet"><h1>Security Groups</h1></li>
  <li class="bullet"><h1>Encryption (KMS/RDS)</h1></li>
</ul>
