<h1>edgescan</h1>

<ul class="bullet-reveal">
  <li class="bullet"><h1>Managed security service</h1></li>
  <li class="bullet"><h1>False positive free</h1></li>
  <li class="bullet"><h1>Ruby on Rails web app deployed on AWS</h1></li>
</ul>

<a href="/xss" class="next-slide-link">&gt;&gt;</a>
