<h1>Your Speaker</h1>

<%= image_tag("me.jpg", :size => "200x200") %>

<h2>Owen Mooney</h2>

<h3>Who?</h3>
<ul class="bullet-reveal">
  <li class="bullet"><h1>Failed Theoretical Physicist</h1></li>
  <li class="bullet"><h1>Video game music composer?</h1></li>
  <li class="bullet"><h1>Trinners for winners</h1></li>
  <li class="bullet"><h1>"Secure" developer</h1></li>
  <li class="bullet"><h1>Country music superstar</h1></li>
</ul>

<a class="next-slide-link" href="/intro/edgescan">&gt;&gt;</a>
