<h1>Finally</h1>

<ul class="bullet-reveal">
  <li class="bullet">
    <h1>Stuff I didn't talk about</h1>
  </li>
  <li>
    <h1>How secure is rails?</h1>
  </li>
  <li class="bullet">
    <h1>Q&amp;A</h1>
  </li>
  <li class="bullet">
    <h1>Thanks for listening!</h1>
  </li>
</ul>