<h1>Rails Secure Coding</h1>

<h5>Security Pitfalls in Ruby on Rails</h5>

<h3>What is happening!?</h3>
<ul class="bullet-reveal">
  <li class="bullet"><h1>Who am I</h1></li>
  <li class="bullet"><h1>This isn't going to be about edgescan is it?</h1></li>
  <li class="bullet">
    <h1>Part 1</h1>
    <ul>
      <li class="bullet"><h2>Tools</h2></li>
      <li class="bullet"><h2>XSS</h2></li>
      <li class="bullet"><h2>OS Command/Shell injection</h2></li>
    </ul>
  </li>
  <li class="bullet"><h1>Breaktime</h1></li>
  <li class="bullet">
    <h1>Part 2</h1>
    <ul>
      <li class="bullet"><h2>SQL injection</h2></li>
      <li class="bullet"><h2>Rails specific</h2></li>
      <li class="bullet"><h2>Not so fluffy clouds</h2></li>
    </ul>
  </li>
  <li class="bullet"><h1>Q&amp;A</h1></li>    
  
</ul>

<a href="/intro/me" class="next-slide-link">&gt;&gt;</a>
