<h1>Tools</h1>

<ul class="bullet-reveal">
  <li class="bullet">
    <h1>Ruby on Rails</h1>
    <ul>
      <li class="bullet"><h2>Model</h2></li>
      <li class="bullet"><h2>View</h2></li>
      <li class="bullet"><h2>Controller</h2></li>
    </ul>
  </li>
  <li class="bullet"><h1>Burp</h1></li>
  <li class="bullet"><h1>Curl</h1></li>
  <li class="bullet"><h1>Reflector</h1></li>
  <li class="bullet"><h1>Chrome (Dev Tools)</h1></li>
  <li class="bullet"><h1>SQLMap</h1></li>
</ul>

<a class="next-slide-link" href="/xss">&gt;&gt;</a>