#query-output {
  position: fixed;
  bottom: 0;
  background-color: #516CA0;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.users-table {
  td, th {
    border: 1px solid #888;
    padding: 2px;
  }
}
